<header>
    <img src="https://i.imgur.com/zc2h0lV.png" id="banner-img">
    <nav>
        <ul>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/gallery/new">Create New</a></li>
        </ul>
    </nav>
</header>