
<nav class="w-full flex">
    <ul>
        <li><a href="/gallery"><button class="bg-sand text-darkBrown">Gallery</button></a></li>
        <li><a href="/gallery/new"><button class="bg-sand text-darkBrown">Create New</button></a></li>
        <li>
            <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out" class="bg-sand text-darkBrown" />
          </form>
        </li>
    </ul>
</nav>
<p>Welcome, <%=currentUser.username%></p>