body{
    background-color: #D8C6C6;
}
label{
    grid-column: 1/2;
    text-align: right;
    font-size: 2vw;
    
}
.container{
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    height: auto;
    justify-content: space-between;
    margin: 0 auto;
}
.container-item{
    width: 48%;
    /* max-width: 50%; */
    height: 100%;
    background-color: white;
    border: 1px solid;
    margin: 0 auto;
    padding: 4px;
    box-shadow: 5px 10px 8px #888888;
}
.form-inputs{
    margin: 0 auto;
    display: grid;
    grid-template-columns: .7fr 1.8fr;
    grid-gap: 0px 10px;
}
.form-input{
    grid-column: 2/3;
}
.gallery{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    
}
.grid-display{
    margin: 0 auto;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-gap: 5px 10px;
}
.left{
    grid-column: 1/2;
    text-align: right;
}
.right{
    grid-column: 2/3;
}
.gallery-item{
    width: 30%;
    background-color: white;
    border: solid #5b4218 1px;
    box-shadow: 5px 10px 8px #888888;
    text-align: center;

}
#gallery-image{
    max-height: 200px;
    display: block;
    margin: 10px auto 0 auto;
}
#banner-img{
    width: 100%;
    border: solid #5b4218 1px;
}
nav ul{
    display: flex;
    flex-flow: row-wrap;
    padding: 0;
    box-shadow: 5px 10px 8px #888888;
}
nav ul li{
    display: block;
    width: 50%;
    background-color: #e6d7bc;
    text-align: center;
    font-size: 3vw;
    color: #5b4218;
    border: solid #5b4218 1px;
}
nav ul li a{
    text-decoration: none;
    color: inherit;
}
.edit-delete{
    display: flex;
    grid-column: 1/3;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    
}
.edit-delete input{
    display: block;
}
.edit-delete form{
    display: block;
}
#image-preview{
    max-width: 90%;
    max-height: 300px;
    /* height: auto; */
    display: block;
    margin: 0 auto;
}
#upload-images{
    display: block;
    margin: 0 auto;

}
/* .right{
    float: right;
    display: inline;
} */


/* ::-webkit-input-placeholder{
    color: #000000;
    font-size: 10px;
} */