<%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/header.ejs")%>
    <div class="container-item login-form">
        <form action="/sessions" method="POST" class="login">
            <div class="login-form-inputs">
                <label for="username">Username:</label><input type="text" id="username" name="username" class="form-input">
                <label for="password">Password:</label><input type="password" id="password" name="password" class="form-input">
                <input type="submit" class="form-input" value="Log In">
            </div>
    </div>
        <div class="error">
            <% if (err){%>
                <p><%=err%></p>
            <%}%>
        </div>
        <div>
           <p class="new-user">New user? Register <a href="/users/new">here</a></p>
        </div>
    </form>
</body>
</html>